/* Import Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Page Styles */

body {
    background-color: #d9d9d9;
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
}

nav {
    background: linear-gradient(90deg, rgba(77, 210, 210, 1) 0%, rgba(42, 119, 126, 1) 51%, rgba(9, 35, 49, 1) 100%);
    overflow: hidden;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-left: 13.5%;
    padding-right: 13.5%;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul img {
    max-width: 15%;
    height: auto;
    padding-top: 1%;
}

nav ul li a {
    float: right;
    display: block;
    color: #fafafa;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 20px 17px;
    text-transform: uppercase;
}

nav ul li:first-child {
    margin-right: auto;
}


/* Content Wrapper */
.content {
    padding-top: 30px;
    padding-left: 13.5%;
    padding-right: 13.5%;
}

.content .maincard {
    background-color: #f0f1ef;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 20px 15px 20px;
    margin-bottom: 25px;
    height: 100px;
}

/* Main Card */

.maincard p {
    float: left;
    margin-top: 1%;
}

/* Card */

.card {
    background-color: #f0f1ef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    height: 100px;
}

.card:active {
    background-color: #002b50;
    color: #f0f1ef !important;
}

.card .title {
    color: #002b50;
}

.card:active .title {
    color: #fafafa;
}

.card p {
    float: left;
    margin-top: 6.5%;
    color: #858585;
}

.badge {
    position: absolute;
    top: -10px;
    right: 15px;
    padding: 5px 11px;
    border-radius: 50%;
    background-color: #4dd2d2;
    color: #002b50;
}

.imgwrap {
    float: left;
    position: relative;
    display: inline-block;
    
}

/* Row and Column Styles */
.row {
    margin: 0px -10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 31.855%;
    padding: 0 10px;
    margin-bottom: 25px;
}

.profilepic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px !important;
    float: left !important;
}

.wrapper {
    width: 25%;
    padding-top: 15px;
}

.left {
    float: left;
    width: 25%;
    text-align: right;
    margin-right: 10px;
    color: #858585;
}

.right {
    margin-left: 55%;
}

@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}