/* Import Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Page Styles */

body {
    background-color: #d9d9d9;
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
}


/* top nav style */
.nav {
    background: linear-gradient(90deg, rgba(77, 210, 210, 1) 0%, rgba(42, 119, 126, 1) 51%, rgba(9, 35, 49, 1) 100%);
    overflow: hidden;
    margin: 0;
    padding-left: 13.5%;
    padding-right: 13.5%;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

/* text links style */
.nav .itens a {
    float: right;
}

/* logo style */
.nav a img {
    width: 100px;
}

/* hamburger style */
.nav .icon {
    display: none;
}


/* Content Wrapper */
.content {
    padding-top: 30px;
    padding-left: 13.5%;
    padding-right: 13.5%;
}

/* Main Card */
.content .maincard {
    background-color: #f0f1ef;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 20px 15px 20px;
    margin-bottom: 25px;
    height: 100px;
}

.maincard p {
    float: left;
    margin-top: 1%;
}

.wrapper {
    width: 25%;
    padding-top: 15px;
}

.left {
    float: left;
    width: 25%;
    text-align: right;
    margin-right: 10px;
    color: #858585;
}

.right {
    margin-left: 55%;
}

/* Card */

.card {
    background-color: #f0f1ef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    height: 100px;
}

.card .title {
    color: #002b50;
}

.card p {
    float: left;
    margin-top: 6.5%;
    color: #858585;
}

.badge {
    position: absolute;
    top: -10px;
    right: 15px;
    padding: 5px 11px;
    border-radius: 50%;
    background-color: #4dd2d2;
    color: #002b50;
}

.imgwrap {
    float: left;
    position: relative;
}


/* Row and Column Styles */
.row {
    margin: 0px -10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 31.855%;
    padding: 0 10px;
    margin-bottom: 25px;
}

.profilepic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px !important;
    float: left !important;
}

/* responsive styling */

@media screen and (max-width: 1900px) {
    .column {
        width: 45%;
        float: left;
        margin-bottom: 20px;
    }

    .column:nth-child(2n) {
        float: right;
    }
}

@media screen and (max-width: 1900px) {
    .column {
        width: 100%;
        float: left;
        clear: left;
        padding: 0 0;
    }
}


@media screen and (max-width: 1400px) {
    .nav {
        padding-right: 0%;
        padding-left: 0%;
    }

    .nav .itens a {
        display: none;
    }

    .nav a.icon {
        float: right;
        display: block;

    }

    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .wrapper {
        width: 95%;
        padding-top: 15px;
        font-size: 12px;
        word-break: break-all;


    }
}